<link rel='import' href='../../bower_components/polymer/polymer.html'>
<link rel='import' href='../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='ha-themed-slider.html'>

<dom-module id='ha-labeled-slider'>
  <template>
    <style>
      :host {
        display: block;
        padding-bottom: 16px;
      }

      .title {
        margin-bottom: 16px;
        opacity: var(--dark-primary-opacity);
      }

      iron-icon {
        float: left;
        margin-top: 4px;
        opacity: var(--dark-secondary-opacity);
      }

      .slider-container {
        margin-left: 24px;
      }
    </style>

    <div class='title'>[[caption]]</div>
    <iron-icon icon='[[icon]]'></iron-icon>
    <div class='slider-container'>
      <ha-themed-slider disable-off-when-min='{{disableOffWhenMin}}' theme='[[theme]]' min='[[min]]' max='[[max]]' is-on='[[isOn]]' value='{{value}}'>
      </ha-themed-slider>
    </div>
  </template>
</dom-module>

<script>
Polymer({
  is: 'ha-labeled-slider',

  properties: {
    caption: {
      type: String,
    },

    icon: {
      type: String,
    },

    min: {
      type: Number,
    },

    max: {
      type: Number,
    },

    isOn: {
      type: Boolean,
    },

    disableOffWhenMin: {
      type: Boolean,
      notify: true,
    },

    theme: {
      type: Object,
    },

    value: {
      type: Number,
      notify: true,
    },
  },
});
</script>
